* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eicon {
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
}

/* Editor Styles */

.element-control-field input, select {
    border-start-start-radius: 3px;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 3px;
}

.element-control-field input, select {
    padding: 5px;
    color: #d5d8dc;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
    background: none;
    box-shadow: none;
    border: 1px solid #3f444b;
    outline: none;
}

.element-control-field .element-editor-input {
    margin-top: 5px;
}

.element-control-title {
    flex-shrink: 0;
    max-width: 60%;
}

.element-control-input-wrapper {
    margin-left: auto;
}

.element-control-input-wrapper select {
    appearance: none;
    font-size: 12px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    flex-basis: 100%;
    padding-left: 5px;
    padding-right: 20px;
    cursor: pointer;}

.element-control-unit-5 {
    max-width: 400px;
    width: 52%;
}

.el-d-flex {
    display: flex;
}

.el-width-100 {
    width: 100%;
}